PUBLIC_BIGCARTEL_URL=https://granit-mitoyen.bigcartel.com/
PUBLIC_PRESS_KIT_URL=

# Liens d'écoute — album Lands Of Killbirgahn
PUBLIC_KILLBIRGAHN_SPOTIFY_URL=https://open.spotify.com/intl-fr/album/2RE09DuiUwkVXRW2L4byL3
PUBLIC_KILLBIRGAHN_APPLE_MUSIC_URL=https://music.apple.com/us/album/lands-of-killbirgahn/1890408506
PUBLIC_KILLBIRGAHN_YOUTUBE_URL=https://www.youtube.com/playlist?list=OLAK5uy_mMQ-ZAaS89Ipol0yJuLUg0bdxy8ivdzxs
PUBLIC_KILLBIRGAHN_YOUTUBE_MUSIC_URL=https://music.youtube.com/playlist?list=OLAK5uy_mMQ-ZAaS89Ipol0yJuLUg0bdxy8ivdzxs
PUBLIC_KILLBIRGAHN_DEEZER_URL=https://www.deezer.com/fr/album/953695051
PUBLIC_KILLBIRGAHN_AMAZON_MUSIC_URL=https://music.amazon.com/albums/B0GVYH16KZ
PUBLIC_KILLBIRGAHN_TIDAL_URL=https://tidal.com/album/512815615
PUBLIC_KILLBIRGAHN_SOUNDCLOUD_URL=https://soundcloud.com/granitmitoyen-music/sets/lands-of-killbirgahn
PUBLIC_KILLBIRGAHN_KKBOX_URL=https://www.kkbox.com/tw/tc/album/8mIV5DxliKnsn2j7WW

# Réseaux sociaux
INSTAGRAM_URL=
FACEBOOK_URL=
BANDCAMP_URL=
YOUTUBE_URL=
SOUNDCLOUD_URL=
