PUBLIC_BIGCARTEL_URL=https://granit-mitoyen.bigcartel.com/
PUBLIC_KILLBIRGAHN_YOUTUBE_URL=https://www.youtube.com/watch?v=LEzaU85aLLk
PUBLIC_KILLBIRGAHN_SOUNDCLOUD_URL=
PUBLIC_KILLBIRGAHN_DEEZER_URL=https://www.deezer.com/fr/album/112006572
PUBLIC_PRESS_KIT_URL=www.google.com
PUBLIC_RELEASE_PARTY_TICKETS_URL=
PUBLIC_RELEASE_PARTY_FACEBOOK_EVENT_URL=
INSTAGRAM_URL=
FACEBOOK_URL=
BANDCAMP_URL=
YOUTUBE_URL=
SOUNDCLOUD_URL=